@import url("https://light-ui-library.netlify.app/import.css");

.content {
  text-align: left;
}
.price {
  font-weight: 600;
  font-size: 0.87 rem;
}

.title {
  font-weight: 500;
}

.subtitle {
  font-weight: 200;
}

.bellota-text-regular {
  font-family: "Bellota Text", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.bellota-text-light {
  font-family: "Bellota Text", sans-serif;
  font-weight: 600;
  font-style: normal;
}
