.single-hotel-page {
    padding: 10rem 8rem 2rem 9rem;
  }
  
  .hotel-name-add {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .bellota-text-light {
    font-family: "Bellota Text", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .bellota-text-regular {
    font-family: "Bellota Text", sans-serif;
    font-weight: bold;
    font-style: normal;
  }