.single-hotel-page {
    padding: 10rem 8rem 2rem 9rem;
  }
  
  .hotel-name-add {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .bellota-text-light {
    font-family: "Bellota Text", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
  }
  
  .bellota-text-regular {
    font-family: "Bellota Text", sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 20px;
    margin-right: 10px;
  }

  .below-cont{
    display: flex;
    align-items: center;
  }